<h2>Planet Details</h2>
<table>
    <tr>
        <th>Field</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Rotation Period</td>
        <td>{{planetDetails.rotation_period}}</td>
    </tr>
    <tr>
        <td>Length Of Year</td>
        <td>{{planetDetails.lengthOfYear}}</td>
    </tr>
    <tr>
        <td>Diameter</td>
        <td>{{planetDetails.diameter}}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{planetDetails.name}}</td>
    </tr>
    <tr>
        <td>Climate</td>
        <td>{{planetDetails.climate}}</td>
    </tr>
    <tr>
        <td>Gravity</td>
        <td>{{planetDetails.gravity}}</td>
    </tr>
    <tr>
        <td>Surface Water</td>
        <td>{{planetDetails.surface_water}}</td>
    </tr>
    <tr>
        <td>Population</td>
        <td>{{planetDetails.population}}</td>
    </tr>
</table>